main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main h1 {
    font-size: 55px;
    width: 550px;
}

.content-main h1 span {
    color: #EA6D27;
}

.content-main p {
    width: 550px;
}

.content-btn-main {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #101821;
    padding: 12px 30px;
    color: #fff;
    border-radius: 15px 3px;
}

.btn-secondary {
    background-color: #EA6D27;
    padding: 12px 30px;
    color: #fff;
    border-radius: 15px 3px;
}